@import "../generalButton/generalButton.scss";

.close-modal-button {
    width: 20px;
    height: 20px;
    background-image: url(../../static/images/closeCross.svg);
    background-color: inherit;
    margin-left: 10px;
}

.dialog {
    border-radius: 4px;
}
