extends ../../layouts/main/main.pug
include ../../components/generalButton/generalButton.pug
include ../../components/generalInput/generalInput.pug

block script
    link(rel="stylesheet", href="login.scss")

block main
    .card
        form
            h1 Login 
            +generalInput("login","text","login")
            +generalInput("password","password","password","Invalid login or password")
            +generalButton("Enter")
            p or
            +generalButton("Create account")
