extends ../../layouts/main/main.pug
include ../../components/generalButton/generalButton.pug
include ../../components/authForm/authForm.pug

block script
    script(src="./login.js" type="module")

block main
    +authForm()
        h1 Login 
        label login    
            input(type="text" name="login")
        label password
            input(type="password" name="password")
        +generalButton("Enter")
        p or
        +generalButton("Create account")
