extends ../../layouts/main/main.pug
include ../../components/card/card.pug
include ../../components/generalInput/generalInput.pug
include ../../components/generalButton/generalButton.pug
include ../../components/generalLink/generalLink.pug
include ../../components/goBackAside/goBackAside.pug
include ../../components/uploadAvatarModal/uploadAvatarModal.pug
block script
    link(rel="stylesheet" href="changePassword.scss")

    -
        const user = {
            email: "Bart@yandex.ru",
            login: "Bart",
            first_name: "Bart",
            second_name: "Simpson",
            display_name: "BartSimpson",
            phone: "+7 (000) 000 00 00",
            avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"
        }



block main

    div
        +goBackAside()
        +card()

            div(class="container")
                h1 Change password
               
                img(class="avatar" src=user.avatarURL alt="avatar")

                +generalInput("Old password", "password")
                +generalInput("New password", "password")
                +generalInput("Repeat the new password", "password")

                +generalButton("Save")




