@import "../../../styles.scss";
@import "../../layouts/main/main.scss";
@import "../../components/goBackAside/goBackAside.scss";
@import "../../components/generalInput/generalInput.scss";
@import "../../components/generalButton/generalButton.scss";
@import "../../components/generalLink/generalLink.scss";

.container {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
