@import "./nullstyle.scss";
@import "./variables.scss";

* {
    font-family: "Roboto";
}

dialog {
    margin: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    flex-direction: column;
}
