@import "./nullstyle.scss";
@import "./variables.scss";

dialog {
    margin: auto;
}

dialog::backdrop {
    background: $dialogModalBackdrop;
}

.menu {
    display: flex;
    flex-direction: column;
}

.card {
    background: $backgroundColor;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    padding: 20px;
}
