$app-color: #26a69a;
$background-color: #fff;
$error: #ff3333;
$background-aside: #fbfbfb;
$border: #eaeaea;
$myMessage: #e4edfd;
$userMessage: #f8f8f8;
$backdrop: #ffffff;
$background-input: #efefef;
