include ../messagesAvatar/messagesAvatar.pug

mixin user(name, message, time, count, avatarURL) 
    article.message
        +messagesAvatar(avatarURL)
        .message__content
            .message__header
                h4=name 
                p=time  
            .message__main
                p=message
                p=count

