extends ../../layouts/main/main.pug
include ../../components/searchInput/searchInput.pug
include ../../components/generalLink/generalLink.pug
include ../../components/message/message.pug
include ../../components/noMessages/noMessages.pug
include ../../components/messagesList/messagesList.pug
include ../../components/messagesAvatar/messagesAvatar.pug

block script
    link(rel="stylesheet" href="chat.scss")

    -
        const users = [
            {id: 1, display_name:"aaa", message:"11", avatarLink:"", time:"13.40",  avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"}, 
            {id: 2, display_name:"aaa", message:"22", avatarLink:"", time:"13.40", countMessages: 4, avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 3, display_name:"aaa", message:"33", avatarLink:"", time:"13.40", countMessages: 4, avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 4, display_name:"aaa", message:"44", avatarLink:"", time:"13.40",  avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 5, display_name:"aaa", message:"55", avatarLink:"", time:"13.40", countMessages: 4, avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 6, display_name:"aaa", message:"66", avatarLink:"", time:"13.40",  avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 7, display_name:"aaa", message:"77", avatarLink:"", time:"13.40", countMessages: 4, avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 8, display_name:"aaa", message:"88", avatarLink:"", time:"13.40",  avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},
            {id: 9, display_name:"aaa", message:"99", avatarLink:"", time:"13.40", countMessages: 4, avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"},

        ]

block main
    .chat-container
        aside(class="chats-list")
            .chats-list__header
                .profile-link-container 
                    +generalLink("Profile")
                +searchInput()

            ul.chat
                each item in users
                    li.chat__item
                        +message(item.display_name, item.message, item.time, item.countMessages, item.avatarURL)


        section(class="messages")
            //- +noMessages()
            +messagesList()
