include ../generalInput/generalInput.pug
include ../generalButton/generalButton.pug

mixin deleteChatModal()
    +dialogModal("deleteChatModal", 'Are you sure you want to delete the chat?')
        .dialog-modal__container
            +generalButton("Delete")
