extends ../../layouts/main/main.pug
include ../../components/generalInput/generalInput.pug
include ../../components/generalLink/generalLink.pug
include ../../components/goBackAside/goBackAside.pug
block script
    link(rel="stylesheet" href="profile.scss")
    script(type="module" src="./profile.ts")

    //- -
    //-     const user = {
    //-         email: "Bart@yandex.ru",
    //-         login: "Bart",
    //-         first_name: "Bart",
    //-         second_name: "Simpson",
    //-         display_name: "BartSimpson",
    //-         phone: "+7 (000) 000 00 00",
    //-         avatarURL:"https://avatars.mds.yandex.net/i?id=90a14aacfb5159c04fc902bad5bbd095-5232129-images-thumbs&n=13&exp=1"
    //-     }

block main
    //- div
    //-     +goBackAside()
    //-     .card
    //-         .container
    //-             h1 My profile
    //-             img.avatar(src=user.avatarURL alt="avatar")
    //-             h3=user.display_name
    //-             +generalInput("Email", "email", "email", _, true, user.email)
    //-             +generalInput("Login", "text", "login", _, true, user.login)
    //-             +generalInput("Name", "text", "first_name", _, true, user.first_name)
    //-             +generalInput("Surname", "text", "second_name", _, true, user.second_name)
    //-             +generalInput("Nickname", "text", "display_name", _, true, user.display_name)
    //-             +generalInput("Phone number", "tel", "phone", _, true, user.phone)

    //-             +generalLink("Change data", "../../pages/changeData/changeData.pug")
    //-             +generalLink("Change password", "../../pages/changePassword/changePassword.pug")

    //-             a.exit-link(href="/") Exit  
