extends ../../layouts/main/main.pug
include ../../components/generalButton/generalButton.pug
include ../../components/generalInput/generalInput.pug
include ../../components/card/card.pug

block script
   link(rel="stylesheet" href="registration.scss")

block main
    +card()
        form
            h1 Registration 
            +generalInput("email","email","email")
            +generalInput("login","text","login")
            +generalInput("name","text","first_name")
            +generalInput("surname","text","second_name")
            +generalInput("phone number","tel","phone")
            +generalInput("password","password","password")
            +generalInput("repeat password","password","repeat-password","Passwords don't match")

            +generalButton("Create account")
            p or
            +generalButton("Enter")