include ../generalInput/generalInput.pug
include ../generalButton/generalButton.pug
include ../card/card.pug

mixin manageUserModal(header, button)
    dialog(class="manageUserModal")
        +card()
            .close-button-container
                button.close-modal-button
            h3=header
            +generalInput("login","text")
            +generalButton(button)