.general-input-wrapper {
    width: 100%;
    label {
        width: 100%;
        flex-direction: column;
        display: flex;
    }
    input {
        height: 30px;
        border: 1px solid #00000041;
        border-radius: 4px;
        margin-top: 5px;
    }
    span {
        color: $error;
        font-size: 0.8em;
    }
}
