.general-input-wrapper {
    width: 100%;
}

.general-input {
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 30px;
    border: 1px solid $generalInputBorder;
    border-radius: 4px;
    margin-top: 5px;
}

.error-span {
    color: $error;
    font-size: 0.8em;
    display: block;
    &.hidden {
        display: none;
    }
}
