@import "../errorSpan/errorSpan.scss";

.general-input-wrapper {
    width: 100%;
}

.general-input {
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 30px;
    border: 1px solid $generalInputBorder;
    border-radius: 4px;
    margin-top: 5px;
}
