extends ../../layouts/main/main.pug
include ../../components/chatPageInput/chatPageInput.pug
include ../../components/generalLink/generalLink.pug
//- include ../../components/user/user.pug
include ../../components/noMessages/noMessages.pug
include ../../components/messagesList/messagesList.pug
include ../../components/avatar/avatar.pug
include ../../components/deleteUserModal/deleteUserModal.pug
include ../../components/deleteChatModal/deleteChatModal.pug
include ../../components/addUserModal/addUserModal.pug
include ../../components/select/select.pug

block script
    link(rel="stylesheet" href="chats.scss")
    script(type="module" src="./chats.ts")
block main
    //- +deleteUserModal()
    //- +deleteChatModal()
    //- +addUserModal()
    //- .chats-container
    //-     aside.chats
    //-         .chats-list__header
    //-             .profile-link-container 
    //-                 +generalLink("Profile", '../../pages/profile/profile.pug')
    //-             +chatPageInput("search", "search")

    //-         ul.chats-list
    //-             each item in users
    //-                 li.chat__item
    //-                     +user(item.display_name, item.message, item.time, item.countMessages, item.avatarURL)


        //- section.chat
        //-     //- +noMessages()
        //-     .chat__header
        //-         .chat-name
        //-             +avatar(users[0].avatarURL)
        //-             h3=users[0].display_name
        //-         .chat__header-container
        //-             button.manage-user__button
        //-             +select("select-list-header")
        //-                 li.select-item(id="addUser")
        //-                     .add-icon
        //-                     p Add user
        //-                 li.select-item(id="DeleteUser")
        //-                     .delete-icon
        //-                     p Delete user
        //-                 li.select-item(id="DeleteChat")
        //-                     .delete-icon
        //-                     p Delete chat 

    //-         +messagesList(users[0])

            //- .chat__footer 
            //-     .chat__footer-container 
            //-         button.manage-file__button
            //-         +select('select-list-footer')
            //-             li.select-item
            //-                 .photo-video-icon
            //-                 p Photo or video
            //-             li.select-item
            //-                 .file-icon
            //-                 p File
            //-             li.select-item
            //-                 .location-icon
            //-                 p Location
            //-     form.message-form
            //-         +chatPageInput("text", "message", "message")
            //-         button.message-form__button
