@import "../../styles/variables.scss";
@import "../../components/chatPageInput/chatPageInput.scss";
@import "../../components/generalLink/generalLink.scss";
@import "../../components/chat/chat.scss";
@import "../../components/select/select.scss";
@import "../../components/messagesList/messagesList.scss";
@import "../../components/manageUserModal/manageUserModal.scss";

.chat-panel {
    width: 100%;
    height: 100%;
    background-color: $chatBackground;
}
