mixin chatPageInput(type, placeholder, name)
        .input-wrapper
            input(
                class="chat-page-input"
                type=type
                placeholder=placeholder
                name=name
                )
