extends ../../layouts/main/main.pug
include ../../components/card/card.pug
include ../../components/generalLink/generalLink.pug

block script
    link(rel="stylesheet", href="error404.scss")

block main  
    +card()
        .error-container
            h1 404
            p Not Found
            +generalLink("Back to the chat list", "/src/pages") 
       
    