@import "../../../styles.scss";
@import "../../layouts/main/main.scss";
@import "../../components/generalLink/generalLink.scss";

.error404__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    gap: 10px;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
