extends ../layouts/main/main.pug
block script
        link(href="../../styles.scss" rel="stylesheet")
        script(src="../index.js" type="module")

block main
    .card
        nav.menu
            a(href="../pages/changeData/changeData.pug") changeData
            a(href="../pages/changePassword/changePassword.pug") changePassword
            a(href="../pages/chat/chat.pug") chat
            a(href="../pages/error404/error404.pug") error404
            a(href="../pages/error500/error500.pug") error500
            a(href="../pages/login/login.pug") login
            a(href="../pages/profile/profile.pug") profile
            a(href="../pages/registration/registration.pug") registration
