include ../avatar/avatar.pug
include ../message/message.pug

mixin messagesList(user)
    .messages   
        .messages-list__time
            h4=user.time
        ul.messages-list
            li.messages-item
                +message("dfjhglfd jfdhbglj rdfljhgbleirubg ljergblierugbn erldfigbnelrbg", user.avatarURL, user.time, user.display_name, 'my-message')
            li.messages-item   
                +message("рпва", user.avatarURL, user.time, user.display_name, 'user-message')
            li.messages-item   
                +message("dfjhglfd jfdhbglj rdfljhgbleirubg ljergblierugbn erldfigbnelrbg", user.avatarURL, user.time, user.display_name, 'my-message')
            li.messages-item  
                +message("рпва", user.avatarURL, user.time, user.display_name, 'user-message')
