.message {
    display: flex;
    width: 100%;
    
}
.message__avatar-container {
    width: 40px;
    height: 40px;
}
.message__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
