include ../avatar/avatar.pug

mixin message(message, avatarURL, time, name, className)
    .message-container
        +avatar(avatarURL)
        .message-content
            .message-content__header
                h4.message-name=name
                p.message-time=time
            div(class=className).message-text=message
